@font-face {
    font-family: Gladly;
    src: url(./assets/fonts/FeelingSoon-1GVr0.otf);
}
@font-face {
    
    font-family: Neog;
    src: url(./assets/fonts/AboveDemoRegular-lJMd.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Gladly;
    color: #000000;
    box-sizing: border-box;
}
html, body{
    background-image: url("./assets/images/wavy-black-white-background.jpg");
    background-size:cover;
}

#logo{
    height: 8vh;
    filter: grayscale(100);
}

#page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 02vw;
}

nav{
    background-color: rgba(0, 0, 0, 0.021);
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;

}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
    
}

#nav-part2 h4{
    padding: 8px 15px;
    border: 1px solid #00000050;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    font-size: 18;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    bottom: -40;
    border-radius: 70%;
    transition: all ease-in-out 0.4s;
}
#nav-part2 h4:hover::after{
    left: 0;
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    color: #000000;
    text-decoration: none;
    z-index: 9;
    font-family:Neog;
    position: relative;
}

#nav-part2 h4:hover a{
    color: #ffffff;
    transition: all ease-in-out 0.3s;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding-bottom: 2 vw;
}
#left h3{
    width: 25vw;
    font-size: 1vw;
    line-height: 2vw;

}

#right h2{
    color: #ffffff;
}

#center h2{
    font-size: 7vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    padding-top: 5;
    border-radius: 20px;
    width: 95vw;
}

